body {
  background-image: linear-gradient(rgb(76, 76, 209), white);
}
.card {
  display: inline-block;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 450px;
  background-color: rgba(255, 255, 255, 0.2);

}

.card h3 {
  padding: 2px;
  margin: 8px 0;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.animalMainImg {
  height: 200px;
  width: 250px;
  
} 

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 6rem;
  
}

footer {
  text-align: center;
  background-color: rgba(158, 143, 178, 1);
}

#modaling {
  width: 100%;
  height: auto;
  border-radius: 2em;
  border-style: outset;
}

.modal {
  width: auto;
  max-width: vw;
  height: 45%;
  font-style: italic;
  font-weight: 450;
}


/* @import "~bootstrap/scss/bootstrap"; */