.mainBeast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: inline-block;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 450px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;

}

#modaling {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.beastHorn {
  width: 25%;
  margin-left: 1rem;
  margin-top: .3rem;
  color: rgb(255, 255, 255);
}

#Select {
  color: rgb(133, 67, 169);
  min-width: 190px;
  max-width: 300px;
  font-weight: 500;
}

#labelForm {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight:lighter;
}