.mainBeast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: inline-block;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 450px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;

}

#modaling {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}